// ignore_for_file: constant_identifier_names

const String SUPABASE_URL = 'https://your-project.supabase.co';
const String SUPABASE_ANON_KEY = 'your-anon-key';

class Env {
  static const String supabaseUrl = SUPABASE_URL;
  static const String supabaseAnonKey = SUPABASE_ANON_KEY;
}
